.Cont1{
    width: 320px;
    height: 474px;

}
.ContDatos{
    background-color: rgb(68, 68, 255);
    height: 350px;
}
.Usuario{
    align-content: center;
    width: 200px;
    margin-left:55px ;
    margin-bottom: -100px;
    
}

.Final{
    width: 320px;
    height: 70px;
    background-color: rgb(223, 39, 39);
    
}
.iconos{
    height: 40px;
    height: 40px;
    padding-left: 10%;
    padding-top: 5%;
  

}
p{
    font-size: 20px;
    margin-left: 30px;
    padding-top: 150px;
    color: rgb(255, 255, 255);
}
