<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Page Title</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='main.css'>
    <script src='main.js'></script>
</head>
<body><div class="Cont1">
    <h1>Karen Agudelo</h1>
    <img src="../Taller/images/usuario.png" class="Usuario">
    <div class="ContDatos">
        <p>
            Nombre:Karen Agudelo<br>
            Fecha de nacimiento:24-11-2003<br>
            Profesión:Tecnóloga<br>
            Ocupación:Aprendiz<br>
        </p>
    </div>
    <div class="Final">
        <img src="../Taller/images/facebok.png" alt="" class="iconos">
        <img src="../Taller/images/whatsaap.png" alt="" class="iconos">
        <img src="../Taller/images/twiter.png" alt="" class="iconos">

    </div>


</div>
    
</body>
</html>